{{ domain }} {
    tls /etc/caddy/certs/origin.pem /etc/caddy/certs/origin.key

    root * /data/frontend

    @unknown_rsc {
        not file
        path *.txt
    }
    rewrite @unknown_rsc /_.txt

    @notFile not file {path} {path}/index.html
    rewrite @notFile /_.html

    file_server {
        index index.html
    }
}

api.{{ domain }} {
    tls /etc/caddy/certs/origin.pem /etc/caddy/certs/origin.key

    reverse_proxy localhost:8080
}
